args==0.1.0
autopep8==1.7.0
beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
clint==0.5.1
comtypes==1.1.14
ecapture==2.0.2
feedparser==6.0.10
idna==3.4
jaraco.context==4.1.2
more-itertools==8.14.0
numpy==1.23.3
opencv-python==4.6.0.66
PyAudio==0.2.12
pycodestyle==2.9.1
pyjokes==0.6.0
PyJWT==2.5.0
pypiwin32==223
pyttsx3==2.90
pytz==2022.2.1
pywin32==304
requests==2.28.1
sgmllib3k==1.0.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
toml==0.10.2
twilio==7.14.1
urllib3==1.26.12
wikipedia==1.4.0
winshell==0.6
wolframalpha==5.0.0
xmltodict==0.13.0